body{
    background-image: url("img/bg.png");
}
.head_section{
    padding: 50px 0;
}
.header_top h2{
    text-transform: uppercase;
    font-size: 50px;
    width: 200px;
    line-height: 45px;
    font-weight: bold;
    margin-top: -15px;
}
.header_top h2.colorh2{
    color: #6C9CE4;
}
.header_top h3{
    font-size: 40px;
    color: gray;
    text-transform: uppercase;
    margin: 60px 0 30px 0;
}
.header_top p{
    width: 500px;
}
.header_top span{
    display: block;
    width: 500px;
}
.header_top span i{
    margin-right: 10px;
    color: gray;
}
.header_top span a{
    color: gray;
    text-decoration: none;
}
.header_top span a:hover{
    color: #6C9CE4;
}
.header_top span a.active{
    color: #6C9CE4;
}
.input_area input{
    width: 400px;
    margin: 5px 0;
    padding: 0 6px;
    outline: none;
}
.input_area textarea{
    width: 400px;
    margin: 5px 0;
    padding: 0 6px;
    outline: none;
    height: 100px;
}
.header_top button{
    margin-left: 20px;
    background-image: url("img/shape.png");
    background-size: 51px 50px;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    border: navajowhite;
    outline: none;
    color: #fff;
    font-size: 14px;
    margin-bottom: 50px;
}
.contact_area p{
    text-transform: uppercase;
}
.contact_area{
    content: '';
    display: block;
    clear: both;
}
.contact_top{
    float: left;
    width: 288px;
}
.contact_top p{
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}
.contact_section_top{
    margin-bottom: 20px;
}
.contact_top_left{
    float: left;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: #C0C0C2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 16px;
}
.contact_top_left i{
    text-align: center;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    color: #fff;
}
.contact_top_right h6{
    margin: 0;
    padding: 0;
}
.contact_top_right p{
    color: #208CE0;
    width: 250px;
    text-transform: lowercase;
}
.contact_bottom{
    float: left;
    width: 250px;
}
/* ************************* */
.menu_area ul{
    margin: 0;
    padding: 0;
    text-align: right;
}
.menu_area ul li{
    list-style: none;
    display: inline-block;
    background-image: url("img/shape.png");
    background-size: 85px 80px;
    padding: 25px 25px 35px 20px;
    background-repeat: no-repeat;
}
.menu_area ul li a{
    text-decoration: none;
    color: #fff;
}
.menu_area ul li:hover{
    background-image: url("img/hover_shape.png");
    background-size: 85px 80px;
    padding: 25px 25px 35px 20px;
}
.menu_area ul li.active{
    background-image: url("img/hover_shape.png");
    background-size: 85px 80px;
    padding: 25px 25px 35px 20px;
    background-repeat: no-repeat;
}
.header_right_section h3{
    margin: 45px 0 30px 0;
    text-transform: uppercase;
    font-size: 60px;
    color: #C0C0C2;
}
.header_right_section span.span2{
    font-size: 20px;
    text-transform: uppercase;
    color: #89898d;
}
.technical_skill{
    border-top: 1px solid #89898d;
    border-left: 1px solid #89898d;
    width: 200px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    height: 250px;
    margin-left: 30px;
}
.technical_skill span:nth-child(1){
    display: block;
    background-color: #C0C0C2;
    padding: 10px 15px;
    width: 200px;
    margin: 5px 0;
}
.technical_skill span:nth-child(2){
    display: block;
    background-color: #B9D1F5;
    padding: 10px 15px;
    width: 150px;
    margin: 5px 0;
}
.technical_skill span:nth-child(3){
    display: block;
    background-color: #C0C0C2;
    padding: 10px 15px;
    width: 120px;
    margin: 5px 0;
}
.technical_skill span:nth-child(4){
    display: block;
    background-color: #B9D1F5;
    padding: 10px 15px;
    width: 170px;
    margin: 5px 0;
}
.technical_skill span:nth-child(5){
    display: block;
    background-color: #C0C0C2;
    padding: 10px 15px;
    width: 100px;
    margin: 5px 0;
}
.technical_skill span:nth-child(6){
    display: block;
    background-color: #B9D1F5;
    padding: 10px 15px;
    width: 150px;
    margin: 5px 0;
}
.technical_skill span:nth-child(7){
    display: block;
    background-color: #C0C0C2;
    padding: 10px 15px;
    width: 110px;
    margin: 5px 0;
}
.technology_img img{
    padding: 20px 10px;
}
.footer_area h1{
    font-size: 60px;
    text-transform: uppercase;
    color: #C0C0C2;
}
.footer_area p{
    text-transform: uppercase;
    width: 300px;
    font-weight: 500;
    line-height: 30px;
}
.footer_container{
    padding-bottom: 100px;
    border-bottom: 1px solid #C0C0C2;
}
.footer_container a{
    background-image: url("img/shape.png");
    float: right;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-top: 40px;
}
.footer_area p.footer_p{
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    width: 500px;
    color: #7f7f83;
    margin: auto;
    padding: 20px 0 120px 0;
}